--- MQTT ---
mqtt_broker_ip = ""     
mqtt_broker_port = 1883
mqtt_username = ""
mqtt_password = ""
mqtt_client_id = ""

--- WIFI ---
wifi_SSID = ""
wifi_password = ""

--- IP ---
client_ip=""
client_netmask=""
client_gateway=""

